<div class="container">
    <div class="row">

        {{#each Events}}
        <div id="events">
            {{!-- Modal Placeholder --}}
            <div class="col s12 m6">

                <a href="#modal{{this.id}}">
                    <div class="card small">
                        <div class="card-image">
                            <img src="./images/sample-1.jpg">
                            <span class="card-title">{{this.title}} {{this.date}}</span>
                        </div>
                        <div class="card-content">
                            <p>{{this.category}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        {{!-- Modal --}}
        <div id="modal{{this.id}}" class="modal">
            <div class="modal-content">
                <h4>{{this.title}}</h4>
                <img class="responsive-img" src="./images/sample-1.jpg">
                <a href="events/{{this.id}}" method="GET">Full Event Page</a>
                <p>{{this.description}}</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        {{/each}}

    </div>
</div>